@import url('https://fonts.googleapis.com/css?family=Montserrat:400,800');

.login-signup-root {

  * {
    box-sizing: border-box;
  }

  /* מחלקה שמכילה את כל הסגנונות */
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-family: 'Montserrat',
  sans-serif;
  margin: -20px 0 50px;
  color: #2D3436;
  background: #d0dbe1;
  /* רקע שמנת בהיר ונעים */
  overflow: hidden;
  min-height: 80vh;
  padding: 20px;
  box-sizing: border-box;
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
}

.login-signup-root h1 {
  font-weight: bold;
  margin: 0;
  color: #3473b2;
  /* כחול כהה לכותרות */
}

.login-signup-root h2 {
  text-align: center;
  color: #2C3E50;
}

.login-signup-root p {
  font-size: 14px;
  font-weight: 300;
  line-height: 20px;
  letter-spacing: 0.5px;
  margin: 20px 0 30px;
  color: #dfe8ea;
  /* טקסט משני, אפור בינוני */
}

.login-signup-root span {
  font-size: 12px;
  color: #636e72;
}

.login-signup-root a {
  color: #999999;
  /* אפור בהיר */
  font-size: 14px;
  text-decoration: none;
  margin: 15px 0;
}

.login-signup-root a:hover {
  text-decoration: underline;
}

.login-signup-root button {
  border-radius: 20px;
  border: 1px solid #E67E22;
  /* כתום דגש */
  background-color: #E67E22;
  /* כתום דגש */
  color: #FFFFFF;
  font-size: 12px;
  font-weight: bold;
  padding: 12px 45px;
  letter-spacing: 1px;
  text-transform: uppercase;
  transition: transform 80ms ease-in, background-color 0.3s ease;
  cursor: pointer;
}

.login-signup-root button:hover {
  background-color: #D35400;
  /* כתום כהה בהובר */
  border-color: #D35400;
}

.login-signup-root button:active {
  transform: scale(0.95);
}

.login-signup-root button:focus {
  outline: none;
}

.login-signup-root button.ghost {
  background-color: transparent;
  border-color: #999999;
  /* אפור בהיר */
  color: #ffffff;
}

.login-signup-root button.ghost:hover {
  background-color: #999999;
  color: white;
}

.login-signup-root form {
  background-color: #FFFFFF;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 0 50px;
  height: 100%;
  text-align: center;
}

.login-signup-root input {
  background-color: #eee;
  border: none;
  padding: 12px 15px;
  margin: 8px 0;
  width: 100%;
  font-size: 14px;
  color: #2D3436;
}

.login-signup-root .container {
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.15),
    0 10px 10px rgba(0, 0, 0, 0.12);
  position: relative;
  overflow: hidden;
  width: 100%;
  max-width: 768px;
  min-height: 480px;
}

.login-signup-root .form-container {
  position: absolute;
  top: 0;
  height: 100%;
  transition: all 0.6s ease-in-out;
}

.login-signup-root .sign-in-container {
  left: 0;
  width: 50%;
  z-index: 2;
}

.login-signup-root .container.right-panel-active .sign-in-container {
  transform: translateX(100%);
}

.login-signup-root .sign-up-container {
  left: 0;
  width: 50%;
  opacity: 0;
  z-index: 1;
}

.login-signup-root .container.right-panel-active .sign-up-container {
  transform: translateX(100%);
  opacity: 1;
  z-index: 5;
  animation: show 0.6s;
}

@keyframes show {

  0%,
  49.99% {
    opacity: 0;
    z-index: 1;
  }

  50%,
  100% {
    opacity: 1;
    z-index: 5;
  }
}

.login-signup-root .overlay-container {
  position: absolute;
  top: 0;
  left: 50%;
  width: 50%;
  height: 100%;
  overflow: hidden;
  transition: transform 0.6s ease-in-out;
  z-index: 100;
}

.login-signup-root .container.right-panel-active .overlay-container {
  transform: translateX(-100%);
}

.login-signup-root .overlay {
  background: linear-gradient(to right, #999999, #2C3E50);
  /* מעבר אפור בהיר לנייטרלי כהה */
  color: #FFFFFF;
  position: relative;
  left: -100%;
  height: 100%;
  width: 200%;
  transform: translateX(0);
  transition: transform 0.6s ease-in-out;
}

.login-signup-root .container.right-panel-active .overlay {
  transform: translateX(50%);
}

.login-signup-root .overlay-panel {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 0 40px;
  text-align: center;
  top: 0;
  height: 100%;
  width: 50%;
  transform: translateX(0);
  transition: transform 0.6s ease-in-out;
}

.login-signup-root .overlay-left {
  transform: translateX(-20%);
}

.login-signup-root .container.right-panel-active .overlay-left {
  transform: translateX(0);
}

.login-signup-root .overlay-right {
  right: 0;
  transform: translateX(0);
}

.login-signup-root .container.right-panel-active .overlay-right {
  transform: translateX(20%);
}

.login-signup-root .social-container {
  margin: 20px 0;
}

.login-signup-root .social-container a {
  border: 1px solid #DDDDDD;
  border-radius: 50%;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  margin: 0 5px;
  height: 40px;
  width: 40px;
  color: #999999;
}

.login-signup-root .social-container a:hover {
  background-color: #999999;
  color: white;
  border-color: #777777;
}

.login-signup-root footer {
  background-color: #222;
  color: #fff;
  font-size: 14px;
  bottom: 0;
  position: fixed;
  left: 0;
  right: 0;
  text-align: center;
  z-index: 999;
}

.login-signup-root footer p {
  margin: 10px 0;
}

.login-signup-root footer i {
  color: red;
}

.login-signup-root footer a {
  color: #999999;
  text-decoration: none;
}

.login-signup-root footer a:hover {
  text-decoration: underline;
}